.container{
    flex: 1;
    background-color: aliceblue;
    padding: 10px;
}

.input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    margin-bottom: 10px;
}

.headerBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}