.container {
  flex: 1;
  background-color: #ffffff;
  padding: 20px;
  justify-content: center;
}

.logo {
  margin: 0 auto;
}
.logoText{
  font-size: 24px;
  font-weight: 600;
  margin: 0 auto;
}
.inputView{
  width: 100%;
  height: 45px;
  background-color: rgb(132, 255, 255);
  border-radius: 5px;
  margin: 10px 0 10px 0;
}

.inputText{
  margin: auto 0;
  padding-left: 10px;
  font-size: 16px;
}

.forgotPassword{
  margin: 10px 0;
  font-size: 16px;
  color: rgb(0, 0, 255);
  text-align: right;
}

.loginBtn{
  width: 50%;
  height: 45px;
  background-color: hotpink;
  border-radius: 5px;
  margin: 10px 0 10px 0;
  justify-content: center;
  align-items: center;
}

.btnText{
  color: white;
  font-size: 16px;
}

.centeredView {
  justify-content: center;
  align-items: center;
}
