.eventContainer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    text-align: center;
    letter-spacing: 1px;
}

.eventItem{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 1px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.completeEvent{
    background-color: rgba(0, 223, 162, 0.6);

}

.eventText{
    color: white;
    font-size: 16px;
}