.swiperContainer{
    padding: 10px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    height: 60px;
}
.twoCol{
    flex-direction: row;
    align-items: center;
}

.completeTodo{
    background-color: green;
}

.twoCol2{
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    /* space-around */
    justify-content: space-around;
    height: 60px;
}

.line{
    margin-bottom: 10px;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #ffffff;
}


.timeText{
    flex-basis: 300;
    font-size: 16px;
}

.details{
    font-size: 16px;
    text-align: right;
    color: #ffffff;
    flex-basis: auto;
    margin-left: 10px;
    flex-basis: 250;
}

.displayButton{
    justify-content: left;
    flex-basis: 30;
}


.swiperComplete {
    /* width: 100%; */
    height: 60px;
    width: 40px;
    background-color: green;
    justify-content: center;
    align-items: center;
}

.swiperEdit{
    /* width: 100%; */
    height: 100%;
    width: 40px;
    background-color: blue;
    justify-content: center;
    align-items: center;
}

.swiperDelete{
    /* width: 100%; */
    height: 100%;
    width: 40px;
    background-color: red;
    justify-content: center;
    align-items: center;
}